/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
*{
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-page{
    background-image: url(./assets/landscape.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    z-index: 1;
}

.overlay{
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 60%;
  }

.first-page .right-nav-bar span{
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}

.first-page .right-nav-bar span:first-of-type{
    color: #fff;
    border-bottom-color: #fff;
}
.right-nav-bar span:hover{
    border-bottom-color: rgba(255, 255, 255, .25);
    transition-delay: 5ms;
    transition-duration: 1s;
}

.right-nav-bar span:first-of-type:hover{
    border-bottom-color: rgba(255, 255, 255, .25);
    transition-delay: 5ms;
    transition-duration: 1s;  
}

.first-page .menu-bar span:hover{
    cursor: pointer;
}

.first-page header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.menu{
    position: absolute;
    top: 8%;
    right: 0;
    color: white;
    z-index: 1;
    background-color: #cccc;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    visibility: hidden;
}

.menu span:hover{
    background-color: black;
}

.scrolling{
    background-color: black;
    opacity: 60%;
    transition-delay: 5ms;
    transition-duration: 1s;
}

/* .nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  } */